.wrapper {
  display: flex;
  justify-content: space-between;
}

.secend {
  text-align: right;
}

h2 {
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
}

p {
  font-size: 1.5rem;
  margin: 0 0 1rem;
}
p:last-of-type {
  margin: 0;
}
